{% extends 'todos/base.html' %}

{% block title %}Todo List{% endblock %}

{% block content %}
    <h1 class="mb-4">Todo List</h1>
    <ul class="list-group">
        {% for todo in todos %}
        <li class="list-group-item d-flex justify-content-between align-items-center {% if todo.completed %}completed{% endif %}">
            {{ todo.title }}
            <div class="btn-group">
                <a href="{% url 'edit_todo' todo.id %}" class="btn btn-outline-primary btn-sm mr-2">Edit</a>
                <a href="{% url 'delete_todo' todo.id %}" class="btn btn-outline-danger btn-sm">Delete</a>
            </div>
        </li>
        {% endfor %}
    </ul>
    <a href="{% url 'create_todo' %}" class="btn btn-primary mt-4">Create New Todo</a>
{% endblock %}

